{% extends "layout.html" %}

{% block title %}
    Admin login
{% endblock %}

{% block main %}
<form action="{% if admin %}/admin_login{% else %}/employee_login{% endif %}" method="POST" class="needs-validation" novalidate id="form_username">
    <div class="card col-md-6 col-lg-6 mx-auto p-0" id="username_div">
        <div class="card-header text-center text-white bg-dark">
            <h5>Log In to DEMS</h5>
        </div>
        <div class="card-body p-3">
            {% if not admin %}
                <div class="form-group">
                    <label for="company"><span style="text-decoration: solid;">Company Email</span></label>
                    <input type="email" name="company" id="company" value="kuchyaayush" placeholder="company@email" autofocus required class="form-control">
                    <div class="invalid-feedback">
                        Please enter a Company email.
                    </div>
                </div>
            {% endif %}
            
            <div class="form-group">
                <label for="email"><span style="text-decoration: solid;">Email</span></label><br>
                <input type="text" autocomplete="off" autofocus id="email" required  name="email" placeholder="someone@example.com" class="form-control">
                <div class="invalid-feedback">
                    Please enter a email.
                </div>
            </div>
            <div class="form-group">
                <label for="password"><span>Password</span></label><br>
                <input type="password" autocomplete="off" autofocus id="password" required name="password" class="form-control">
                <div class="valid-feedback">
                    Welcome back, <var id="company_name_var"></var>!
                </div>
                <div class="invalid-feedback">
                    Please enter a password.
                </div>
            </div>
            <div>
                <button id="username.check" type="submit" class="btn btn-primary">Log in!</button>
            </div>
            {% if admin %}
                <div class="form-inline">
                    <hr align="left" width="43%"><span class="text-dark text-monospace">or</span><hr align="right" width="43%">
                </div>
                <div class="text-center">
                    <a href="/register" class="btn btn-block btn-success">Register</a>
                </div>
            {% endif %}
        </div>
        <div class="card-footer text-center text-dark">
            {% if admin %}
                <div class="text-center">
                    <a href="/" class="btn btn-link">Forgotten password?</a><br>
                </div>
            {% endif %}
            Having issues? <a href="contact_us">Contact us!</a>
        </div>
    </div>
</form>
<p id="test"></p>
<script>
    let form = document.getElementById('form_username');
    form.addEventListener("submit", (event) => {
        event.preventDefault();
        event.stopPropagation();
        let login = true;
        if (document.getElementById('email').value === '') login = false; document.getElementById('email').classList.add('is-invalid');
        if (document.getElementById('password').value === '') login = false; document.getElementById('password').classList.add('is-invalid');

        if (login) form.submit();
        else form.classList.add('was-validated');
    });
</script>


{% endblock %}