{% extends "layout.html" %}

{% block title %}
Assign Projects
{% endblock %}

{% block main %}
<div class="card col-md-6 col-lg-6 mx-auto p-0">
    <div class="card-header text-center text-white bg-dark">
        <h5>Assigning Project</h5>
    </div>
    <div class="card-body p-3">
        <div class="form-inline">
            <label for="Project ID"><b>Project ID: &nbsp;</b></label><br>
            <input type="number" autocomplete="off" autofocus id="ProjectID" value="1" name="ProjectID" required
                class="form-control needs-validation p-2">
            <div class="invalid-feedback">
                Please enter a Project ID.
            </div> &nbsp; &nbsp;
            <button onclick="get_details()" type="button" class="btn btn-primary">Get Details</button>
        </div><br>
        <div id="project_details" style="display: none;">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="Start Date">Start Date</label>
                    <input type="date" class="form-control needs-validation pr" id="StartDate" readonly required name="StartDate">
                </div>
            <div class="form-group col-md-4">
                    <label for="Due Date"> Due Date</label>
                    <input type="date" class="form-control needs-validation pr" required id="DueDate" readonly name="DueDate">
                </div> 
                <div class="form-group col-md-4">
                    <label for="Department code"> Department code</label>
                    <input type="number" class="form-control needs-validation pr" required id="DeptCode" readonly name="DeptCode">
                </div>
            </div>
            <div class="form-group">
                <label for="Description">Description</label><br>
                <textarea type="Description" autocomplete="off" autofocus id="Description" readonly required name="Description"
                    class="form-control needs-validation pr"></textarea>
                <div class="invalid-feedback">
                    Please enter a Description.
                </div>           
            </div>
            <div class="form-inline">
                <hr align="right" width="100%">
            </div>
            <div class="form-group">
                <label for="answer">Add Employees</label><br>
                <input type="text" class="col-4 col-md2 mb2" list="employee_list" name="answer" id="add_employee" onkeyup="search()" autocomplete="off" placeholder="Enter their ID">
                <datalist id="employee_list"></datalist>
                <!--<button class="btn btn-success text-right" type="submit">Add Employees!</button>-->
            </div>
            <form method="post" class="hidden">
                <div class="card">
                    <div class="card-body" id="employees"></div>
                    <div class="card-footer">
                        <button onclick="send_employees()" class="btn btn-success text-right" type="submit">Add Employees!</button>
                    </div>
                </div>
                <input type="text" name="assigned_employees" id="assigned_employees" readonly style="display: none;">
            </form>
            
        </div>
                
        <!--<a href="/" type="button" class="btn btn-danger">Exit!</a>-->
    </div>
</div>
<p id="test"></p>


<script>

    function get_details() {
        id = document.getElementById('ProjectID');
        $.get('/project_details?id=' + id.value, (data) => {
            if (!data) {
                alert('No Such Project ID');
                id.value = '';
            }
            else {
                document.getElementById('project_details').style.display = "";
                var elements = document.getElementsByClassName('pr');
                Array.prototype.filter.call(elements, (element) => {
                    id = element.getAttribute('id');
                    element.value = data[0][id];
                });
                document.getElementById('assigned_employees').value = data[0]['ProjectID'];
            }
            var employees = document.getElementById('employees');
            employees.innerHTML = '';
            console.log(data[1].length);
            if (data[1].length > 0) {
                document.getElementsByTagName('form')[0].classList.remove('hidden');
                
                Array.prototype.filter.call(data[1], (identities) => {
                    employees.appendChild(create_employee(identities[1], identities[0]));
                });
            }
        });
    }

    function len_check() {
        if (document.getElementsByClassName('alert').length == 1) document.getElementsByTagName('form')[0].classList.add('hidden');
    }

    function create_employee(employee_name, employee_id) {
        var division = document.createElement('div');
        division.classList = 'alert alert-primary alert-dismissible fade show';
        division.setAttribute('role', 'alert');
        division.setAttribute('data-employee-id', employee_id);
        var text = document.createTextNode(employee_name + ' (' + employee_id + ')');
        var close_button = document.createElement('button');
        close_button.classList.add('close');
        close_button.setAttribute('data-dismiss', 'alert');
        close_button.setAttribute('aria-label', 'Close');
        var times = document.createElement('span');
        times.addEventListener('click', len_check);
        times.setAttribute('aria-hidden', 'true');
        times.appendChild(document.createTextNode('\u00d7'));
        close_button.appendChild(times);
        division.appendChild(text);
        division.appendChild(close_button);
        return division;
    }
    
    function search()
    {
        var employees = document.getElementById('employees');
        input = document.getElementById('add_employee');
        var employee_list = document.getElementById('employee_list');
        $.get('/search_employee?answer=' + input.value, function (data) {
                employee_list.innerHTML = data;
            });
        setTimeout(() => {
            var options = employee_list.options;
            if (options.length == 1) {
                Array.prototype.filter.call(document.getElementsByClassName('alert'), (element) => {
                    if (element.getAttribute('data-employee-id') == options[0].value) {
                        input.value = '';
                        employee_list.removeChild(options[0]);
                        alert('Employee already assigned');
                        return;
                    }
                });
                var division = create_employee(options[0].innerHTML, options[0].value);
                
                employees.appendChild(division);
                input.value = '';
                employee_list.removeChild(options[0]);
                if (employees.children.length == 1) document.getElementsByTagName('form')[0].classList.remove('hidden');
                
            } 
        }, 100);
    }
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    document.getElementsByTagName('form')[0].addEventListener('submit', (event) => {
        event.preventDefault();
        event.stopPropagation();
        var employees = document.getElementsByClassName('alert');
        Array.prototype.filter.call(employees, (employee) => {
            document.getElementById('assigned_employees').value += ' ' + employee.getAttribute('data-employee-id');
        });
        document.getElementsByTagName('form')[0].submit();

    });

</script>
{% endblock %}