{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form  method="post" class="needs-validation" novalidate id="form-profile">
    <div id="set_password" class="card col-md-6 col-lg-6 mx-auto p-0 border border-dark">
        <div class="card-header bg-primary">
            <h2>Company Profile</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="company-name">Company Name</label>
                <input type="text" class="form-control" autocomplete="off" id="company-name" name="company-name" required aria-describedby="name_help" placeholder="Enter your company name"> 
                <div class="invalid-feedback">
                    Please enter a valid name.
                </div>
            </div>
            <div class="form-group form-inline">
                <label class="my-1 mr-2" for="company-number">Telephone number</label>
                <input type="number" class="form-control col-5" autocomplete="off" id="company-number" name="company-name" required aria-describedby="confirmation-help" placeholder=>
                <div class="invalid-feedback">
                    Please enter a valid Telephone number.
                </div>
            </div>
            <div class="form-group">
                <label for="company-address">Address</label>
                <textarea type="textarea" class="form-control" name="company-address" autocomplete="off" id="company-address"></textarea>
            </div>
            <div>
                <button class="btn btn-block btn-success" type="submit">Save</button>
            </div>
        </div>
    </div>    
</form>
<p id="test">

</p>
    
<script>


</script>
{% endblock %}