{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/password" method="POST" class="needs-validation" novalidate id="form_otp">
    <div class="card text-center col-md-6 col-lg-6 mx-auto p-0 border border-dark" id='otp_verification'>
        <div class="card-header text-left">
            <span class="navbar-brand">
                Enter the OTP
            </span>
        </div>
        <div class="card-body mx-auto">
            <div class="form-group">
                <input type="text" class="form-control" autocomplete="off" name="otp" id="otp" placeholder="XXXX" autofocus required>
                <span style="font-size: 10px;" id="otp_help">The desired otp has been sent to your Email address. <br> Make sure to check the junk folder.</span>
                <div class="invalid-feedback">
                    Invalid OTP! <br> You have <var id="tries"></var> tries left.
                </div>
            </div>
            <div>
                <button class="btn btn-block btn-primary" id="submit_button_2">Submit</button>
            </div>
        </div>
        <div class="card-footer">
            <span class="text-muted">
                Just one more click to go!
            </span>
        </div>
    </div>
</form>
<form action="/password" method="post" class="needs-validation" novalidate id="form_password">
    <div id="set_password" class="card col-md-6 col-lg-6 mx-auto p-0 hidden border border-dark">
        <div class="card-header bg-primary">
            <span style="align-content: center;">Set your password.</span>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="password">Create a password</label>
                <input type="password" class="form-control" autocomplete="off" id="password" name="password" required aria-describedby="password-help"> 
                <small id="password-help">Make sure to use a good password</small>
                <div class="invalid-feedback">
                    Make sure you've entered a valid password.
                </div>
            </div>
            <div class="form-group">
                <label for="confirmation">Enter password again.</label>
                <input type="password" class="form-control" autocomplete="off" id="confirmation" name="confirmation" required aria-describedby="confirmation-help">
                <div class="valid-feedback">
                    Passwords match!
                </div>
                <div class="invalid-feedback">
                    Passwords don't match.
                </div>
            </div>
            <div>
                <button class="btn btn-block btn-outline-success" type="submit">Register!</button>
            </div>
        </div>
    </div>    
</form>
<p id="test">

</p>
    
<script>
    let x = 3;
    document.getElementById('form_otp').addEventListener("submit", function(event) {
        event.preventDefault();
        event.stopPropagation();
        let otp = document.getElementById('otp');
        $.post("/otp_verification",
                { otp : otp.value },
                function (data) {
                    if (data)
                    {
                        document.getElementById('otp_verification').classList.add('hidden');
                        setTimeout(() => {
                            document.getElementById('set_password').classList.remove('hidden');
                            document.getElementById('set_password').classList.add('visible');
                            document.getElementById('password').focus();
                        }, 250);
                    }
                    else
                    {
                        x--;
                        document.getElementById('tries').innerText = String(x);
                        document.getElementById('otp_help').style.display="none";
                        otp.setCustomValidity('Invalid');
                        otp.classList.add('swing');
                        setTimeout(() => {
                            otp.classList.remove('swing');
                        }, 600);
                        otp.classList.add('shrink');
                        document.getElementById('form_otp').classList.add('was-validated');
                        if (x == 0)
                        {
                            setTimeout(() => {
                                window.history.back();    
                            }, 500);
                        }
                    }
                });
    });
    password = document.getElementById('password');
    confirmation = document.getElementById('confirmation');
    username_available = true;
    pass_match = false;

    confirmation.onkeyup = function () {
        if (password.value === confirmation.value)
        {
            confirmation.setCustomValidity("");
            pass_match = true;
        }
        else if (password.value === '')
        {
            pass_match = false;
            password.setCustomValidity();
        }
        else
        {
            confirmation.setCustomValidity("Passwords don't match");
            pass_match = false;
        }
    };
    document.getElementById('form_password').addEventListener("submit", function(event) {
        document.getElementById('password_help').style.display="none";
        event.preventDefault();
        event.stopPropagation();
        setTimeout(function () {
            if (username_available && pass_match)
            {
                document.getElementById('form_password').submit();
            }
        }, 1000);
        document.getElementById('form_password').classList.add('was-validated');
    });

</script>
{% endblock %}